  {% block footer %}
        <div id="home" class="rn-slide-area">
            <div class="slide slider-style-3">
                <div class="container">
                    <div class="row slider-wrapper">
                        <div class="order-2 order-xl-1 col-lg-12 col-xl-5 mt_lg--50 mt_md--50 mt_sm--50">
                            <div class="slider-info">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-12">
                                        <div class="user-info-top">
                                            <div class="user-info-header">
                                                <div class="user">
                                                    <i data-feather="user"></i>
                                                </div>
                                                <h2 class="title">
                                                    Hi, I’m <span>Divyanshu</span>
                                                </h2>
                                                <p class="disc">NLP Enginner, currently working at Emplay Analytics.</p>
                                            </div>
                                            <div class="user-info-footer">
                                                <div class="info">
                                                    <i data-feather="file"></i>
                                                    <span>ML & NLP Engineer</span>
                                                </div>
                                                <div class="info">
                                                    <i data-feather="mail"></i>
                                                    <span>divyanshuprof23@gmail.com</span>
                                                </div>
                                                <div class="info">
                                                    <i data-feather="map-pin"></i>
                                                    <span>Bangalore India</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-12">
                                        <div class="user-info-bottom">
                                            <span>Download my curriculum vitae: </span>
                                            <div class="button-wrapper d-flex">
                                                <a class="rn-btn mr--30" href="assets/files/1653500134427.pdf" download>
                                                        <span>DOWNLOAD CV</span>
                                                </a>

                                                <a class="rn-btn" href="https://linktr.ee/boltuzamaki" target="_blank"><span>CONTACT ME</span></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="order-1 order-xl-2 col-lg-12 col-xl-7">
                            <div class="background-image-area">
                                <div class="thumbnail-image">
                                    <img src="assets/images/slider/banner-02.png" alt="Personal Portfolio">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}